
#hero {
  
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

/* #book-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#book-details img {
  height: 450px;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  object-fit: contain;
}

.details p {
  padding-top: 10px;
  font-size: 20px;
} */

#bookform {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#bookform img {
  height: 450px;
  justify-content: center;
  height: 100vh;
  border-radius: 10px;
  padding: 20px;
}

#myForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* padding-bottom: 40px; */
  /* border-color: black; */
  background-color: whitesmoke;
  border: 2px solid grey;
  padding: 15px;
  border-radius: 10px;
  height: 100vh;
}


#myForm h3 {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 15px;
}

#myForm input {
  justify-content: center;
  
}

#myForm p {
  justify-content: center;
  padding-bottom: 19
}

/* #myForm button {
  padding-top: 8px;
} */

/* #button {
  padding-top: 8px;
} */
